@model SQLSolutions.Models.TransIndex


@{
    ViewBag.Title = "index";
}

<h2>User Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Book Title")
        </th>
        <th>
            @Html.DisplayName("Asset Number")
        </th>
        <th>
            @Html.DisplayName("Check Out Date")
        </th>
        <th>
            @Html.DisplayName("Due Date")
        </th>

        <th></th>
    </tr>

    @try
    {
        foreach (var item in Model.Transactions)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.AssetNum)</td>
                <td> @Html.DisplayFor(modelItem => item.CheckoutDate) </td>
                <td> @Html.DisplayFor(modelItem => item.DueDate) </td>
                
            
            </tr>
        }
    }
    catch
    {
        <tr>

            <td>No books currently checked out!</td>
        </tr>
    }
</table>