@model SQLSolutions.Areas.Admin.ViewModels.UserDetailsList
@{
    ViewBag.Title = "Details";
    if (Session["username"] == null || Session["isAdmin"].Equals(false))
    {
        Response.Redirect("~/Home/index");
    }
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th class="row-details-asset">
                        @Html.DisplayName("Asset Number")
                    </th>
                    <th class="row-details-isbn">
                        @Html.DisplayName("ISBN")
                    </th>
                    <th class="row-details-title">
                        @Html.DisplayName("Title")
                    </th>
                    <th class="row-details-author">
                        @Html.DisplayName("Author")
                    </th>
                    <th class="row-details-course">
                        @Html.DisplayName("Course")
                    </th>
                    <th class="row-details-out">
                        @Html.DisplayName("Checkout Date")
                    </th>
                    <th class="row-details-due">
                        @Html.DisplayName("Due Date")
                    </th>
                </tr>

                @foreach (var item in Model.UserBooks)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Isbn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseSection)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckoutDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                    </tr>
                }

            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
