@using System.Web.Optimization
@using System.Web.Mvc

@{
    Layout = null;
}

@*Invokes helper class from Infrastructure/SelectedTabAttributes.cs to highlight the currently active tab*@ 
@helper SelectedTabClass(string tabName)
{
    if (tabName == ViewBag.SelectedTab)
    {
        @: active
    }
}

<!Doctype html>

<html>
<head>
    <title>Library Admin</title>

    @Styles.Render("~/admin/styles")
</head>
<body>

    <div class="container">
        <ul class="nav nav-pills">
            <li class="@SelectedTabClass("catalog")">
                @Html.ActionLink("Catalog", "Index", "Catalog", new { area = "admin" }, new { })
            </li>
            <li class="@SelectedTabClass("users")">
                @Html.ActionLink("Users", "Index", "Users", new {area = "admin"}, new {})
            </li>
            <li class="@SelectedTabClass("transactions")">
                @Html.ActionLink("Transactions","Index","Transactions", new {area = "admin"}, new{})
            </li>
            @*<li class="pull-right">
                @Html.RouteLink("Back to Website", "Home")
            </li>*@
        </ul>

        @RenderBody()
    </div>

    @Scripts.Render("~/admin/scripts")
    @RenderSection("Scripts", false)
</body>
</html>