@model SQLSolutions.Areas.Admin.ViewModels.TransactionReportList
@using SelectListItem = System.Web.WebPages.Html.SelectListItem

@{
    ViewBag.Title = "Transaction Reports";
    if (Session["username"] == null || Session["isAdmin"].Equals(false))
    {
        Response.Redirect("~/Home/index");
    }
}


    <h2>
        Transaction Reports
       
    </h2>

<div class="row" style="margin-right: 0;">
    <div class=" col-md-1 col-md-offset-11">
        @Html.ActionLink("Export to Excel", "Export")
    </div>
</div>
@using (Html.BeginForm("TransactionReports", "Report", FormMethod.Get))
{
    <div class="row" id="search-group">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        

        <div>
            <div class="col-md-2">
                @Html.DropDownList("Selected", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.Selected, new { @id = "selectList", @class = "form-control" })
            </div>
            <div class="col-md-3" >
                @Html.TextBox("searchValue", ViewBag.currentFilter as string, new { @class = "form-control", @placeholder = "Search" })
            </div>
        </div>

        <div class=" col-md-2">
            @Html.TextBox("begin", ViewBag.currentBegin as string, new
                {
                    @id = "datepicker",
                    @class = "form-control",
                    @placeholder = "Begin Date",

                })
       
        </div>
        <div class="col-md-2" >
            @Html.TextBox("end", ViewBag.currentEnd as string, new
                    {
                        @id = "datepicker2",
                        @class = "form-control",
                        @placeholder = "End Date",

                    })

        </div>

        <button class="btn btn-default col-md-1" type="submit">
            <i class="glyphicon glyphicon-search"></i>
            Search
        </button>

        <a href="@Url.Action("TransactionReports")" class="btn btn-warning col-md-1 col-md-offset-1">
            <i class="glyphicon glyphicon-refresh"></i>
            Reset
        </a>
    </div>

}



<div class="table-container">
<table class="table" id="report">
    <tr>

        <th>
            @Html.DisplayName("EUID")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("ISBN")
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th>
            @Html.DisplayName("Course")
        </th>
        <th>
            @Html.DisplayName("Checkout Date")
        </th>
        <th>
            @Html.DisplayName("Due Date")
        </th>
        <th>
            @Html.DisplayName("Checkin Date")
        </th>
        <th>
            @Html.DisplayName("Year")
        </th>
        <th>
            @Html.DisplayName("Edition")
        </th>
        <th>
            @Html.DisplayName("Required")
        </th>
        <th>
            @Html.DisplayName("Asset Num")
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model.TransactionReports)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Euid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)

                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetNum)
            </td>

        </tr>
    }


</table>
 </div>
@*check if search returned any results, if not display the error message*@
@if (!Model.TransactionReports.Any())
{
    @Html.DisplayName("No records were found")
}
else
{
    @Html.DisplayName("Found ") @Model.TransactionReports.TotalItemCount    @Html.DisplayName(" Results")
}


    @*display pagination*@
   
    @Html.PagedListPager(Model.TransactionReports, page => Url.Action("TransactionReports",
                      new
                      {
                          page,
                          selected = ViewBag.currentSelect,
                          currentFilter = ViewBag.CurrentFilter,
                          begin = ViewBag.currentBegin,
                          end = ViewBag.currentEnd
                      }))
    
