@model SQLSolutions.Areas.Admin.ViewModels.BookNew

@{
    ViewBag.Title = "Create";
    if (Session["username"] == null || Session["isAdmin"].Equals(false))
    {
        Response.Redirect("~/Home/index");
    }
}

<h2>Add new Book</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class=" row form-horizontal">
        <h4>Book</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.AssetNum, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.EditorFor(model => model.AssetNum, new {htmlAttributes = new {@class = "form-control", @id="theFieldID", @Value = "", @placeholder = "Four digit asset number", @type="text"}})
                @Html.ValidationMessageFor(model => model.AssetNum, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Isbn, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.EditorFor(model => model.Isbn, new {htmlAttributes = new {@class = "form-control", @placeholder = "ISBN-13 number"}})
                @Html.ValidationMessageFor(model => model.Isbn, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.EditorFor(model => model.Author, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Author, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseSection, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.EditorFor(model => model.CourseSection, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CourseSection, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.EditorFor(model => model.Year, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Year, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edition, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.EditorFor(model => model.Edition, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Edition, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRequired, htmlAttributes: new {@class = "control-label col-xs-4 col-md-2"})
            <div class="col-xs-12 col-md-8">
                @Html.CheckBoxFor(model => model.IsRequired)
                @Html.ValidationMessageFor(model => model.IsRequired, "", new {@class = "text-danger"})
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-xs-12 col-md-10">
                    <input type="submit" value="Add Book" class="btn btn-default"/>
                </div>
            </div>
            
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
