@model SQLSolutions.Areas.Admin.ViewModels.BookIndex

@{
    ViewBag.Title = "Index";
}

<h2> Books</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


@*search bar*@
<form method="GET">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="search" class="form-control" name="searchBook" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        Search
                    </button>
                </span>
            </div>
        </div>
        <div class="btn-toolbar-right" id="btn-add-book">
            <a href="@Url.Action("Create")" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>
                Add New Book
            </a>
        </div>
    </div>
    @*<input type="search" name="searchBook" />
        <input type="submit" value="Search By Name" />*@
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("AssetNum")
        </th>
        <th>
            @Html.DisplayName("ISBN")
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th>
            @Html.DisplayName("CourseSection")
        </th>
        <th>
            @Html.DisplayName("Year")
        </th>
        <th>
            @Html.DisplayName("Edition")
        </th>
        <th>
            @Html.DisplayName("Required")
        </th>
        <th>
            @Html.DisplayName("Available")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <div class="btn-group">
                    <a href="@Url.Action("Edit", new {id = item.AssetNum})" class="btn btn-xs btn-primary">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </a>

                    @*<a href="@Url.Action("Details", new {id = item.AssetNum})" class="btn btn-xs btn-primary">
                            <i class="glyphicon "></i>
                            Details
                        </a>*@
                    @*call java script file (farms.js) from the scripts floder to display pop-up window*@
                    <a href="@Url.Action("Delete", new {id = item.AssetNum})" class="btn btn-xs btn-danger"
                       data-post="Are you shure you want to delete @item.Title for the @item.CourseSection course?">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                    </a>
                </div>
            </td>
        </tr>
    }

</table>
